{% extends "base.html" %}

{% block libs %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
{% endblock %}

{% block content %}

<div>
<img src="/images/404.png" width="90%">
</div>

<p>
  To find the information you were looking for, perhaps look at:
</p>

<ul>
  <li>
    <a href="/overview/">
      Overview
    </a>
  </li>
  <li>
    <a href="/cheatsheet/">
      Cheat sheet
    </a>
  </li>
</ul>


<p>
  Alternatively, use:
  <ul>
    <li>
      the <i class="fas fa-search"></i> search functionality on the top navigation bar;
    </li>
    <li>
      the <i class="fas fa-bars"></i> menu on the left sidebar.
    </li>
  </ul>
</p>


{% endblock %}


