
/* animated R */


/* .responsive-container-xaringan .animated-r-wrapper {
	margin-top: calc(-100% + 120px);
} */


.animated-r-wrapper {
    z-index: -1;
    top: 20px;
    position: absolute;
    width: 100px;
    height: 120px;
    left: calc(50% - 90px);
    overflow: hidden;
}

:root {
    --r-solid-blue: #0000ffff;
    --r-faded-blue: #0000ff00;
}

.animated-r-vertical {
  position: absolute;
    width: 60px;
    height: 120px;
    margin-left: calc(50% - 0px);
    margin-top: 0px;
    overflow: none;
    overflow: none;
    animation: animated-r-vertical 3s linear infinite;
    overflow: hidden;
    border-left: 2px solid var(--r-solid-blue);
}

.animated-r-circle {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -13px;
    border-top: 2px solid var(--r-solid-blue);
    border-radius: 45px;
    animation: animated-r-circle 3s linear infinite;
}

.animated-r-diagonal {
    position: absolute;  
    width: 0px;
    /* height: 56.5px; */
    margin-top: 59px;
    padding-left: 75px;
    transform: skew(20deg);
    animation: animated-r-diagonal 3s linear infinite;
    border-right: 1.5px solid var(--r-solid-blue);
}    

@keyframes animated-r-vertical {
    0% {height: 0px;   }
    20% {height: 0px;   }
   40% {height: 115px; }
   80% {height: 115px; border-left: 2px solid var(--r-solid-blue);}
  100% {height: 115px; border-left: 2px solid var(--r-faded-blue);}
}

@keyframes animated-r-circle {
   0% {transform:  rotateY(0deg) rotateX(45deg) rotateZ(-90deg) ; }
  40% {transform:  rotateY(0deg) rotateX(45deg) rotateZ(-90deg) ; }
  60% {transform:  rotateY(0deg) rotateX(45deg) rotateZ(90deg) ;}
  80% {transform:  rotateY(0deg) rotateX(45deg) rotateZ(90deg) ; border-top: 2px solid var(--r-solid-blue);}
 100% {transform:  rotateY(0deg) rotateX(45deg) rotateZ(90deg) ; border-top: 2px solid var(--r-faded-blue);}
}

:root {
    --dheight: 56.9px;
    --dwidth: calc(20.3502px / 2);
    --dleft: 0px;
}

@keyframes animated-r-diagonal {
     0% {height: 0px;  margin-left: calc(var(--dleft) + var(--dwidth));}
    65% {height: 0px;  margin-left: 0px;}
    75% {height: var(--dheight); margin-left: calc(var(--dleft) + var(--dwidth));}
    80% {height: var(--dheight); margin-left: calc(var(--dleft) + var(--dwidth)); border-right: 1.5px solid var(--r-solid-blue);}
   100% {height: var(--dheight); margin-left: calc(var(--dleft) + var(--dwidth)); border-right: 1.5px solid var(--r-faded-blue);}
}
