@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,400,600");

.cheatsheet body {
  background: url(background.png) no-repeat top right; 
  font-family: 'Source Sans Pro', sans-serif;
}

.cheatsheet p {
    margin: 10px 0 5px;
}

.cheatsheet h1 {
  padding-right: 50px;
}

.cheatsheet h2 {
  padding-top: 10px;
  padding-bottom: 0;
  font-weight: bold;
}

.cheatsheet h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.cheatsheet h2 {
  margin-top: 80px;
  background: url(bar-graded-h2.png) no-repeat top right; 
}

.cheatsheet h3 {
  background: url(bar-graded-h3.png) no-repeat top right; 
}

/* Fork me on github ribbon */
/* from https://codepo8.github.io/css-fork-on-github-ribbon/ */

#forkongithub a{
 background:#FCECCC;
 color:#000;
 text-decoration:none;
 font-family:arial,sans-serif;
 text-align:center;
 font-weight:bold;
 padding:5px 40px;
 font-size:1rem;
 line-height:2rem;
 position:relative;
 transition:0.5s;
}

#forkongithub a:hover{
  background:#DFECF7;
  color:#000;
}

#forkongithub a::before,#forkongithub a::after{
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after{bottom:1px;top:auto;}

@media screen and (min-width:800px){
  #forkongithub{
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
    z-index:9999;
  }
  
  #forkongithub a{
    width:200px;
    position:absolute;
    top:45px;
    right:-45px;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  }
}
