/* for image caption */
img + br + em {
    font-style: normal;
    text-align: center;
    font-size: 90%;
}

img[src*='#center'] { 
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

.md-nav__item hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
